# Python Data Structure

## 1. What are data structures, and why are they important?
Data structures organize and store data efficiently, improving performance. They enable quick data access, manipulation, and storage. Examples include lists, dictionaries, stacks, and trees. Choosing the right data structure optimizes time and space complexity.

## 2. Explain the difference between mutable and immutable data types with examples
Mutable data types (like lists and dictionaries) can be modified, while immutable ones (like strings and tuples) cannot. Modifying an immutable type creates a new object. Example: `list = [1, 2, 3]; list[0] = 100` (allowed), `tuple = (1, 2, 3); tuple[0] = 100` (error). Mutability impacts performance and security.

## 3. What are the main differences between lists and tuples in Python?
Lists are mutable, while tuples are immutable. Tuples are faster and use less memory compared to lists. Lists are used for dynamic collections, whereas tuples are preferred for fixed data. Example: `list = [1, 2, 3]` (modifiable), `tuple = (1, 2, 3)` (not modifiable).

## 4. Describe how dictionaries store data
Dictionaries store data as key-value pairs using a hash table. Keys must be unique and immutable, while values can be any data type. They provide fast lookups, insertions, and deletions. Example: `dict = {"name": "Alice", "age": 25}` allows quick access via `dict["name"]`.

## 5. Why might you use a set instead of a list in Python?
Sets automatically remove duplicates, making them useful for unique collections. They support fast membership checks due to hashing. However, sets are unordered and do not support indexing. Example: `{1, 2, 2, 3}` results in `{1, 2, 3}` without duplicates.

## 6. What is a string in Python, and how is it different from a list?
A string is an immutable sequence of characters, while a list is a mutable collection of elements. Strings use less memory but cannot be modified in place. Lists allow modifications and support different data types. Example: `"hello"[0] = 'H'` (error), but `list[0] = "H"` (allowed).

## 7. How do tuples ensure data integrity in Python?
Tuples are immutable, preventing accidental modifications and ensuring data consistency. They are hashable, making them useful as dictionary keys. Since they use less memory, they enhance performance. Example: A tuple `(x, y)` ensures coordinates remain unchanged.

## 8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables for fast lookups, insertions, and deletions. Hashing ensures O(1) average-time complexity. Example: `dict["key"] = "value"` uses hashing for quick retrieval.

## 9. Can lists contain different data types in Python?
Yes, Python lists can hold different data types in the same collection. A single list can contain integers, strings, and even other lists. Example: `[1, "hello", [2, 3]]` is valid. This flexibility makes lists versatile but may impact performance.

## 10. Explain why strings are immutable in Python
Strings are immutable to optimize memory usage and security. Since they cannot be modified in place, Python can safely reuse string objects. This prevents unintended side effects and simplifies memory management. Example: `s = "hello"; s[0] = "H"` raises an error.

## 11. What advantages do dictionaries offer over lists for certain tasks?
Dictionaries allow fast key-based lookups, while lists require O(n) searches. They provide structured data storage using key-value pairs. Dictionaries support quick updates and deletions. Example: Searching for a name in `dict["name"]` is faster than scanning a list.

## 12. Describe a scenario where using a tuple would be preferable over a list
Tuples are preferable when storing fixed data like geographic coordinates `(lat, long)`. They ensure data integrity since they are immutable. They also use less memory and improve performance. Example: Using `(1920, 1080)` for screen resolution prevents accidental changes.

## 13. How do sets handle duplicate values in Python?
Sets automatically remove duplicate values, ensuring uniqueness. They use a hash-based structure for fast lookups. Example: `{1, 2, 2, 3}` results in `{1, 2, 3}` without duplicates. This makes sets ideal for membership tests and unique collections.

## 14. How does the “in” keyword work differently for lists and dictionaries?
For lists, `in` performs a linear search (O(n)), checking each element. For dictionaries, `in` checks keys using a hash table (O(1) on average). Example: `"a" in ["a", "b"]` (slow for large lists) vs. `"a" in {"a": 1, "b": 2}` (fast lookup).

## 15. Can you modify the elements of a tuple? Explain why or why not.
No, tuples are immutable, meaning their elements cannot be changed after creation. This ensures data integrity and allows tuples to be used as dictionary keys. Example: `(1, 2, 3)[0] = 10` results in a `TypeError`. To modify, a new tuple must be created.

## 16. What is a nested dictionary, and give an example of its use case?
A nested dictionary is a dictionary within another dictionary. It is useful for storing hierarchical or structured data. Example: `students = {"Alice": {"age": 25, "grade": "A"}}` allows access via `students["Alice"]["age"]`.

## 17. Describe the time complexity of accessing elements in a dictionary.
Dictionary lookups have an average time complexity of O(1) due to hashing. In worst cases (hash collisions), it can be O(n). However, Python optimizes hashing to maintain fast performance. Example: `dict["key"]` retrieves values in constant time.

## 18. In what situations are lists preferred over dictionaries?
Lists are preferred when order matters, duplicates are allowed, or sequential access is needed. They are also useful for indexed data storage. Example: Storing a sequence of numbers `[1, 2, 3, 4]`. Lists are simpler and use less overhead than dictionaries.

## 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Before Python 3.7, dictionaries were unordered; now, they maintain insertion order but do not support indexing like lists. Unordered nature means items are accessed via keys, not positions. Example: `dict.keys()` returns keys in insertion order since Python 3.7.

## 20. Explain the difference between a list and a dictionary in terms of data retrieval.
Lists retrieve data by index (O(1) for direct access), while dictionaries retrieve data by key (O(1) on average). Lists are sequential, whereas dictionaries use hash-based lookups. Example: `list[0]` is position-based, but `dict["name"]` is key-based for fast access.

In [1]:
# Question 1: Write a code to create a string with your name and print it
name = "Mehul"
print(name)

Mehul

In [2]:
# Question 2: Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [3]:
# Question 3: Write a code to slice the first 3 characters from the string "Python Programming"
print("Python Programming"[:3])

Pyt

In [4]:
# Question 4: Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [5]:
# Question 5: Write a code to replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
# Question 6: Write a code to create a list with numbers 1 to 5 and print it
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [7]:
# Question 7: Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
# Question 8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
# Question 9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
# Question 10: Write a code to reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# Question 11: Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [12]:
# Question 12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# Question 13: Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [15]:
# Question 14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [16]:
# Question 15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [17]:
# Question 16: Write a code to create a set with the elements 'a', 'b', 'c' and print it
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

In [18]:
# Question 17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [19]:
# Question 18: Write a code to remove the element 4 from the set {1, 2, 3, 4}
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [20]:
# Question 19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set4 = {1, 2, 3}
set5 = {3, 4, 5}
print(set4 | set5)

{1, 2, 3, 4, 5}

In [21]:
# Question 20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set6 = {1, 2, 3}
set7 = {2, 3, 4}
print(set6 & set7)

{2, 3}

In [22]:
# Question 21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict1 = {"name": "John", "age": 25, "city": "New York"}
print(dict1)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [23]:
# Question 22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict2 = {'name': 'John', 'age': 25}
dict2["country"] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# Question 23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict3 = {'name': 'Alice', 'age': 30}
print(dict3["name"])

Alice

In [25]:
# Question 24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict4["age"]
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# Question 25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict5 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict5)

True

In [27]:
# Question 26: Write a code to create a list, a tuple, and a dictionary, and print them all
list1 = [1, 2, 3]
tuple2 = (4, 5, 6)
dict6 = {"a": 7, "b": 8}
print(list1, tuple2, dict6)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [28]:
# Question 27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[13, 54, 63, 97, 99]

In [29]:
# Question 28: Write a code to create a list with strings and print the element at the third index
str_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(str_list[3])

date

In [30]:
# Question 29: Write a code to combine two dictionaries into one and print the result
dict7 = {"a": 1, "b": 2}
dict8 = {"c": 3, "d": 4}
dict7.update(dict8)
print(dict7)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# Question 30: Write a code to convert a list of strings into a set
string_list = ["apple", "banana", "cherry", "apple"]
print(set(string_list))

{'cherry', 'apple', 'banana'}